<a href="https://colab.research.google.com/github/JoaoDaross/DesafioUpnid/blob/main/DesafioUpnid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

account_balances = pd.read_csv("account_balances.csv")
accounts = pd.read_csv("accounts.csv")
bank_transfers = pd.read_csv("bank_transfers.csv")
customers = pd.read_csv("customers.csv")
payments = pd.read_csv("payments.csv")

## Visualizando as tabelas e manipulando os dados

In [ ]:
payments.head()

                        _id  ...               customer_id
0  5f50dd204d48a59e845519fe  ...  5f50dd201df56aef0d42f1e6
1  5f50dd201c9cf367e64803f8  ...  5f50dd20daf722fb0fc25a5d
2  5f50dd204f7299059f441c58  ...  5f50dd20a96a43441cdfdaa0
3  5f50dd20a18128c90922d868  ...  5f50dd20981542a0cd0495fd
4  5f50dd205f44f510e938126c  ...  5f50dd201d455546b2fd0572

[5 rows x 7 columns]

In [ ]:
payments.describe()

       amount_paid  marketplace_fee
count   230.000000        230.00000
mean    536.846783         17.44387
std     427.989456         23.88871
min       9.860000          0.06000
25%     189.292500          3.00000
50%     446.160000          7.23500
75%     784.632500         21.42750
max    2899.770000        111.42000

In [ ]:
payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   _id              230 non-null    object
 1   account_id       230 non-null    object
 2   paid_at          230 non-null    object
 3   amount_paid      230 non-null    float64
 4   marketplace_fee  230 non-null    float64
 5   ip_location      230 non-null    object
 6   customer_id      230 non-null    object
dtypes: float64(2), object(5)
memory usage: 12.7+ KB

In [ ]:
payments.drop('_id', axis=1, inplace=True)
payments.drop('customer_id', axis=1, inplace=True)

In [ ]:
payments[['Data','Hora', 'Fuso']] = payments['paid_at'].str.split(' ', expand=True)

payments.drop('paid_at', axis=1, inplace=True)
payments.drop('Fuso', axis=1, inplace=True)
payments['Data'] = payments['Data'].str.replace('-','')
payments['Hora'] = payments['Hora'].str.replace(':','')
payments['Data'] = payments['Data'].astype(int)
payments['Hora'] = payments['Hora'].astype(int)
payments['amount_paid'] = payments['amount_paid'].astype(int)
payments['marketplace_fee'] = payments['marketplace_fee'].astype(int)

In [ ]:
payments.head()

                 account_id  amount_paid  ...      Data    Hora
0  5f50e19a299538c596304d31         2899  ...  20200207   95500
1  5f50e19a299538c596304d31         1676  ...  20200823   61800
2  5f50e19a299538c596304d31          838  ...  20200328  121700
3  5f50e19a299538c596304d31          887  ...  20200902  121300
4  5f50e19a299538c596304d31          993  ...  20200629  115000

[5 rows x 6 columns]

In [ ]:
payments["ip_location"].replace(
    to_replace=['SP/BR'],
    value=0,
    inplace=True
)

payments["ip_location"].replace(
    to_replace=['SC/BR'],
    value=1,
    inplace=True
)

payments["ip_location"].replace(
    to_replace=['RS/BR'],
    value=2,
    inplace=True
)

payments["ip_location"].replace(
    to_replace=['MT/BR'],
    value=3,
    inplace=True
)

payments["ip_location"].replace(
    to_replace=['RJ/BR'],
    value=4,
    inplace=True
)

payments["ip_location"].replace(
    to_replace=['AC/BR'],
    value=5,
    inplace=True
)

payments["ip_location"].replace(
    to_replace=['BA/BR'],
    value=6,
    inplace=True
)

payments["ip_location"].replace(
    to_replace=['PR/BR'],
    value=7,
    inplace=True
)

In [ ]:
payments["ip_location"].value_counts()

0    66
1    45
2    23
3    22
5    20
4    20
6    18
7    16
Name: ip_location, dtype: int64

In [ ]:
payments["account_id"].replace(
    to_replace=['5f50e19a60ba4ea5c03c8c50'],
    value=0,
    inplace=True
)

In [ ]:
payments["account_id"].replace(
    to_replace=['5f50e19a836e1cd15acb2fd7'],
    value=1,
    inplace=True
)

In [ ]:
payments["account_id"].replace(
    to_replace=['5f50e19aaef534168542f82c'],
    value=2,
    inplace=True
)

In [ ]:
payments["account_id"].replace(
    to_replace=['5f50e19a413ccfef1bdd2143'],
    value=3,
    inplace=True
)

In [ ]:
payments["account_id"].replace(
    to_replace=['5f50e19a411bd6dd38f5a9d8'],
    value=4,
    inplace=True
)

In [ ]:
payments["account_id"].replace(
    to_replace=['5f50e19a299538c596304d31'],
    value=5,
    inplace=True
)

In [ ]:
payments["account_id"].replace(
    to_replace=['5f50e19afb1971f2b473a181'],
    value=6,
    inplace=True
)

In [ ]:
payments["account_id"].replace(
    to_replace=['5f50e19ad05c511af0a89fff'],
    value=7,
    inplace=True
)

In [ ]:
payments["account_id"].replace(
    to_replace=['5f50e19ab61a843cbaaf0d5a'],
    value=8,
    inplace=True
)

In [ ]:
payments["account_id"].replace(
    to_replace=['5f50e19afd9e92e2ab3a0487'],
    value=9,
    inplace=True
)

In [ ]:
payments["account_id"].value_counts()

0    31
1    27
3    26
2    26
5    22
4    22
6    21
7    20
8    18
9    17
Name: account_id, dtype: int64

## Machine learning

In [ ]:
# Separando as variáveis entre preditoras e alvo 

y = payments["amount_paid"]
x = payments.drop("amount_paid", axis = 1)

In [ ]:
from sklearn.model_selection import train_test_split

# criando os conjuntos de dados de treinos e testes

x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3)

In [ ]:
from sklearn.ensemble import ExtraTreesClassifier

# criação do modelo:
modelo = ExtraTreesClassifier()
modelo.fit(x_treino,y_treino)

#Imprimindo REsultado:
Resultado = modelo.score(x_teste, y_teste)
print("Acurácia", Resultado)

Acurácia 0.13043478260869565

In [ ]:
y_teste[1:229]

116    160
85     219
208    540
25     678
65     970
      ...
191    628
209    510
203    290
118     86
174    948
Name: amount_paid, Length: 68, dtype: int64

In [ ]:
x_teste[1:229]

     account_id  marketplace_fee  ip_location      Data    Hora
116           1                1            2  20201215  115400
85            0               15            2  20200126   30700
208           6                5            1  20200119  120600
25            4                6            0  20190228   21900
65            3               48            1  20190216   20500
..          ...              ...          ...       ...     ...
191           7                6            0  20200503   20200
209           6                5            1  20200325   82000
203           6                2            4  20200810   91600
118           1                0            1  20200813   32700
174           7                9            6  20200227   75700

[68 rows x 5 columns]

In [ ]:
previsoes = modelo.predict(x_teste[1:229])

In [ ]:
previsoes

array([ 160,  357,  300,  645,  768,  407,  993,  160,   86,  926,  312,
         86,  862, 1193,  653,  964,  420,  879,   86,  736,  354,  210,
        639,   65,  474,  128,  872,  862,   45,  862,  147,   67,  420,
        350,  454,  645,  346,  807,   65,  877,  795,  872,  160,  420,
        228, 2899,  394,   62,  665,  987,  832,   86,  348,  736,  653,
        684,  595,  792,  346,  807,   86,  160, 1676,  645,  883,  228,
         86,  454])

>Concluimos que os dados de treino não foram capazes de prever com exatidão.